# Dependencies
node_modules/

# Build
dist/
*.local

# Environment
.env
.env.*.local

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Tooling
*.tsbuildinfo
.workspace/

# Test / coverage
coverage/
.playwright/
test-results/
